<ion-content scroll-x="false" fullscreen *ngFor="let user of users | async">
  <div class="black">

<div class="containerheader">
    <div class="containertopchildren">
      <ion-back-button defaultHref="home" mode="md" text=""></ion-back-button>
    <h2 class="entrar">Perfil</h2>
    </div>
    <div class="containertopchildren2">
      <ion-button expand="block" shape="round" color="danger" (click)="presentAlert()" Strong>Sair</ion-button>
    </div>
  </div>
  <img referrerpolicy=“no-referrer” id="fotoperfil" [src]="user.photoURL"/>
  <h3>{{user.displayName}}</h3>

  <div class="caixa ion-activatable">
      <div class="info_upedido">
        <div class="info_upedido-dado"><ion-icon class="laranja" name="mail"></ion-icon><p>E-mail:</p></div>
        <div class="info_upedido-dado"><ion-icon class="laranja" name="phone-portrait"></ion-icon><p>Celular:</p></div>
      </div>
      <div class="info_upedido">
        <div class="info_upedido-dado"><p>{{user.email}}</p></div>
        <div class="info_upedido-dado"><p>{{user.celular}}</p></div>
      </div><ion-ripple-effect></ion-ripple-effect>
    </div>

    <ion-button expand="block" shape="round" Strong>Editar Perfil</ion-button>


</div>

</ion-content>
