<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="inicio" text="Voltar ao início"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Verificação de E-mail</h2>
      <p>
        Por favor, clique no link enviado para seu E-mail para confirmar seu Acesso
      </p>
      <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
        Reenviar E-mail de Confirmação
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>