<ion-content scroll-x="false" fullscreen>
  <div class="black">

<div class="containerheader">
    <div class="containertopchildren">
      <ion-back-button defaultHref="home" mode="md" text=""></ion-back-button>
    <h2 class="entrar">Serviços</h2>
    </div>
    <div class="containertopchildren2" [routerLink]="['/novoservico']">
      <ion-icon id="iconaddservico" name="add-circle-outline"></ion-icon>
    </div>
  </div>    

  <hr>

  <ion-segment scrollable (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let tipo of tiposervicos | async" value="{{tipo.id}}">
      <ion-label>{{tipo.nome}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="(servicos | async)?.length ; else noservico">
  <div class="caixa ion-activatable" *ngFor="let serv of servicos | async" (click)="detalhar(serv.id)">
    <div class="containertop">
      <div class="imgbarbeiro" style="background-image: url('{{serv.img}}');"></div>
      <div class="info_upedido">
        <h6>{{serv.nome}}</h6>
        <div *ngFor="let tipo of tiposervicos | async"><div class="info_upedido-dado" *ngIf="tipo.id==serv.tipo"><img src="./assets/{{tipo.icon}}" class="iconsvg"><p>{{tipo.nome}}</p></div></div>
        <div class="info_upedido-dado"><ion-icon name="pricetag"></ion-icon><p>Valor:</p><p class="laranja">{{serv.preco}}</p></div>
        <div class="info_upedido-dado"><p style="margin-left: 6px">{{serv.descricao}}</p></div>
      </div>
  </div><ion-ripple-effect></ion-ripple-effect>
</div>
</div>

<ng-template #noservico>
  <div class="caixa"><h6>Não há Serviços</h6></div>
  </ng-template>

</div>
</ion-content>
