<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="inicio" text=""></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" fullscreen>
  <div class="black">
    <h2 class="entrar">Crie sua conta ou Entre</h2>
    <div class="form">
      <ion-item lines="none" color="none">
        <!--<ion-label position="stacked">E-mail</ion-label>-->
        <ion-input type="email" placeholder="E-mail" required #email></ion-input>
      </ion-item>
      <ion-item lines="none" color="none">
        <!--<ion-label position="stacked">Senha</ion-label>-->
        <ion-input type="password" placeholder="Senha" required #senha></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" type="submit" shape="round" (click)="logIn(email, senha)" Strong>Login</ion-button>
    </div>

    <hr>
    <div class="spacebetween">
      <p (click)="alerta('Não Clicável !')">Esqueceu a senha?</p>
      <p class="register" [routerLink]="['/register']">Cadastrar</p>
    </div>
  </div>

</ion-content>
