ion-tab-bar{
    padding:10px;
    background-color: #181A20;
}

ion-tab-button{
    background: transparent;
    --color: #9E9E9E;
    --color-selected: #FB9400;   
}

ion-label{
    color: #9E9E9E;
    font-size: 13px;
    font-weight: Bold !important;
}