ion-tab-bar{
    padding:14px;
    background-color: black;
}

ion-tab-button{
    background: transparent;
    --color: white;
    --color-selected: #FB9400;   
}

ion-label{
    color: white;
    font-size: 13px;
    font-weight: Bold !important;
}