<ion-content scroll-x="false" fullscreen>
  <div class="black">

<div class="containertop">
    <div class="containertopchildren">
      <ion-back-button defaultHref="mural" mode="md" text=""></ion-back-button>
    <h2 class="entrar">Adicionar ao Mural</h2>
    </div>
  </div>    

  <hr>
  
  <div class="form">
    
    <ion-item lines="none" color="none">
      <ion-input type="text" placeholder="Seu texto aqui" maxlength="100" minlength="3" required #texto></ion-input>
    </ion-item>
    <br>

    <ion-button expand="block" type="submit" shape="round" (click)="registerMural(texto)" Strong>Adicionar Mural</ion-button>

  </div>

<ng-template #noagendamento>
  <div class="caixa"><h6>Não há Postagens Aqui</h6></div>
  </ng-template>

</div>
</ion-content>
