<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!-- <ion-app *ngIf="auth.user | async as user; else showLogin">
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ng-template #showLogin>
  <ion-content scroll-y="false" [fullscreen]>
    <div class="black">
      <div class="logo"></div>
      <div class="form">
        <ion-button expand="block" shape="round"  (click)="login()" Strong>Entrar com Google</ion-button>
        <ion-button expand="block" [routerLink]="['/register']" shape="round" Strong class="white">Cadastrar-se</ion-button>
      </div>
      </div>
  </ion-content>
</ng-template> -->
