<ion-content scroll-x="false" fullscreen>
  <div class="black">

<div class="containertop">
    <div class="containertopchildren" [routerLink]="['/perfil']"> 
      <ion-icon class="topo" name="person"></ion-icon>
    <h2 class="entrar" id="nome" *ngFor="let user of users | async">Olá, {{user.nome}}</h2>
    </div>
    <div class="containertopchildren2" [routerLink]="['/notificacoes']">
      <span *ngIf="(notificacoes | async)?.length"><div id="bolanotify"><p></p></div></span>
      <ion-icon name="notifications"></ion-icon>
    </div>
  </div>    
    <div class="containerslide">
    <h3>Recomendados</h3>
    <ion-slides pager="false" [options]="slideOpts" >
        
      <ion-slide class="sliderecomendado" *ngFor="let servico of servicos | async">
        <div class="recomendado">
          <div class="imgrecomendado" style="background-image: url('{{servico.img}}');"></div>
            <div class="inforecomendado">
              <h2>R${{servico.preco}}</h2>
              <h4>{{servico.nome}}</h4>
            </div>
        </div>
      </ion-slide>

    </ion-slides>
    
    <ion-slides pager="false" [options]="slideOpts2" >
        
      <ion-slide class="servico" *ngFor="let tiposervico of tiposervicos | async">
        <div class="box" style="background-color: #33291C;">
          <ion-icon name="{{tiposervico.icon}}"></ion-icon>
        </div>
        <p>{{tiposervico.nome}}</p>
      </ion-slide>
      
    </ion-slides>
  </div>

  <hr>

  <div class="spacebetween">
    <h5>Último Agendamento</h5>
    <ion-button expand="block" class="transp" shape="round" [routerLink]="['/novoservico']" Strong>Agendar Serviço</ion-button>
  </div>

  <div class="caixa" *ngIf="(agendamentos | async)?.length ; else noagendamento">
    <div class="containertop" *ngFor="let agendamento of agendamentos | async">
      <span *ngFor="let prof of profissionais | async"><div *ngIf="prof.id==agendamento.profissional" class="imgbarbeiro" style="background-image: url('{{prof.img}}');"></div></span>
      <div class="info_upedido" (click)="detalhar(agendamento.servico, agendamento.profissional, agendamento.data, agendamento.hora, agendamento.pagamento)">
        <span *ngFor="let serv of servicos | async"><h6 *ngIf="serv.id==agendamento.servico">{{serv.nome}}</h6></span>
        <div class="info_upedido-dado"><ion-icon name="cut"></ion-icon><span *ngFor="let prof of profissionais | async"><p *ngIf="prof.id==agendamento.profissional">{{prof.nome}}</p></span></div>
        <div class="info_upedido-dado"><ion-icon name="calendar"></ion-icon><p>{{agendamento.data}} {{agendamento.hora}}</p></div>
        <div class="info_upedido-dado"><ion-icon name="pricetag"></ion-icon><p>Status:</p><p class="verde">{{agendamento.status}}</p></div>
      </div>
  </div>
</div>

<ng-template #noagendamento>
  <div class="caixa"><h2>Não há Agendamentos</h2></div>
  </ng-template>



  <hr><br>

  <div class="container"><h5>Nossos Barbeiros</h5></div>
  <div class="containerbarbeiros" *ngFor="let prof of profissionais | async">
  <div class="imgbarbeiro_c" style="background-image: url('{{prof.img}}');">
  </div>
  <h3>{{prof.nome}}</h3>
  </div>

    </div>

</ion-content>


<ng-template #showLogin>
  <!-- <meta http-equiv="refresh" content="0; url=inicio"> -->
</ng-template>