<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="inicio" text=""></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" fullscreen>
  <div class="black">
    <h2 class="entrar">Cadastro de Conta</h2>
    <div class="form">
      <ion-item expand="full" lines="none" color="transparent">
        <!--<ion-label position="stacked">Nome Completo</ion-label>-->
        <ion-input type="text" placeholder="Nome Completo" [(ngModel)]="nome"></ion-input>
      </ion-item>
      <ion-item expand="full" lines="none" color="transparent">
        <!--<ion-label position="stacked">E-mail</ion-label>-->
        <ion-input type="email" placeholder="E-mail" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item expand="full" lines="none" color="transparent">
        <!--<ion-label position="stacked">Celular</ion-label>-->
        <ion-input type="tel" placeholder="Celular" [(ngModel)]="celular"></ion-input>
      </ion-item>
      <ion-item lines="none" color="transparent">
        <!--<ion-label position="stacked">Senha</ion-label>-->
        <ion-input type="password" placeholder="Senha" [(ngModel)]="senha"></ion-input>
      </ion-item>
      
      <br>
      <ion-button expand="block"  shape="round" (click)="registrarEmail()" Strong>Cadastrar</ion-button>
    </div>

    <hr>
    <div class="spacebetween">
      <p (click)="alerta('Não Clicável !')">Já tem uma conta?</p>
      <p class="register" [routerLink]="['/login']">Entrar</p>
    </div>
  </div>

</ion-content>
